<div class="theme">
    <div class="intro">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Mon parcours dans l'informatique et le développement</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-card class="texte">
                    <mat-card-header>
                        <mat-card-title>Mes premiers pas dans l'informatique</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Ma première expérience dans le domaine de l'informatique remonte en classe de CM1/CM2 où
                            j'ai eu la
                            chance de pouvoir utiliser un ordinateur Thomson TO7.<br />
                            On apprenait à programmer en langage Logo, c'était le début de ma passion pour
                            l'informatique.
                        </p>
                        <p>
                            Quelques années après, j'utilisais l'ordinateur du travail de mon père pour jouer et
                            découvrir le monde
                            de l'informatique quand je rentrais du collège.<br />
                            J'ai commencé à mettre en place, sous la suite Lotus Ami Pro, un système de gestion de stock
                            et
                            facturation pour la société de mon père.
                        </p>
                        <p>
                            Dans l'année de mes 13 ans, mes parents m'ont offert mon premier ordinateur, un Tandy
                            InterTAN 80286,
                            16Mhz, 1Mo de RAM, 40Mo de disque dur.<br />
                            J'ai commencé à apprendre en profondeur le système d'exploitation MS-DOS et à étudier un peu
                            le langage
                            BASIC avec QBASIC fourni avec MS-DOS
                            en regardant les divers sources fournis en exemple et en recopiant du code fourni dans les
                            magazines
                            informatiques.<br />
                        </p>
                        <p>
                            Deux ans après, j'ai décroché un stage d'une semaine dans une boutique informatique où j'ai
                            pu avoir une
                            copie de Visual Basic 3.0<br />
                            A partir de là, j'ai commencé à développer des petites applications pour découvrir le
                            langage et le
                            système d'exploitation Windows 3.1.<br />
                        </p>
                        <p>
                            Au fil des années, je modifiais mon ordinateur pour le rendre plus performant.<br />
                            Je continuais à développer des petites applications en Visual Basic 4.0 et je changeais de
                            système
                            d'exploitation pour Windows 95.<br />
                            Au niveau scolaire, je recherchais des écoles dans l'informatique proche de chez moi mais je
                            n'en ai pas
                            trouvé.<br />
                            J'ai donc décidé de faire un BEP Electrotechnique qui me semblait s'approcher un peu de
                            l'informatique.<br />
                        </p>
                        <p>
                            En 1998, j'ai modifié à nouveau mon ordinateur pour le rendre plus performant.<br />
                            J'ai commencé à utiliser Linux avec des distributions offertes sur CD-ROM dans des magazines
                            informatiques. J'ai découvert les distributions Red Hat, Mandrake, Suse, Debian, Slackware,
                            etc...<br />
                            Je recherchais toujours à intégrer une formation dans l'informatique mais malheureusement,
                            il n'y avait
                            que l'AFPA mais les places très limitées m'empêchaient d'y accéder.<br />
                        </p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="texte">
                    <mat-card-header>
                        <mat-card-title>Mes premiers pas dans le développement</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            En 2000, j'ai pu découvrir Internet avec un nouvel ordinateur. En voyant divers sites Web
                            existants,
                            j'ai eu l'envie de créer mon propre site Web.<br />
                            J'ai donc commencé à apprendre le langage HTML et fabriquer mon site. J'ai aussi intégré un
                            peu de
                            javascript en trouvant des scripts sur Internet comme le Site du Zéro (OpenClassRoom) et
                            Codes-Sources.<br />
                            Je continuais aussi à développer des petites applications en Visual Basic 6.0 et je
                            commençais, grâce à
                            un ami,à apprendre le Delphi.<br />
                        </p>
                        <p>
                            En 2002, j'ai commencé à apprendre le langage PHP. Le fait de pouvoir utiliser des
                            pseudo-frames sans
                            devoir tout réécrire dans mes pages m'a donné l'envie d'aller encore plus loin<br />
                            J'ai aussi voulu faire persister mes données dans une base de données MySQL. J'ai donc
                            appris à utiliser
                            MySQL et à créer des bases de données.<br />
                        </p>
                        <p>
                            En même temps de mon apprentissage, j'aidais des amies à créer leur site Web, d'abord en
                            HTML puis avec
                            du PHP.<br />
                            Je developpais aussi des applications en Visual Basic 6.0 que je partageais sur internet.
                        </p>
                        <p>
                            En Visual Basic 6.0, j'avais pu développer un jeu de dé (en genre de Poker Dice ou
                            Yam's/Yatzee), Un
                            gestionnaire de télécommande pour les télécommandes fournies avec les cartes TV Hauppauge,
                            Un logiciel permettant de gérer et regarder les chaines TV numérique par satellite.
                        </p>
                        <p>
                            En MircScript (langage de script pour le logiciel de chat Mirc), j'avais pu développer un
                            bot pour
                            gérer les salons de discussion et un début d'approche d'IA en texte
                        </p>
                        <p>
                            Ne trouvant aucune formation et peu de travail près de mon domicile, j'ai décidé d'aller
                            vivre sur
                            Paris.
                        </p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="texte">
                    <mat-card-header>
                        <mat-card-title>Mes premiers emplois dans l'univers informatique</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Après divers emplois en tant que manutentionnaire dans des entreprises diverses comme La
                            Fnac, Habitat,
                            Foot Locker, etc...,
                            mon agence d'intérim m'a proposé de tester mes capacités sur le traitement de texte après
                            m'avoir
                            souvent entendu par téléphone prendre des notes sur mon ordinateur.
                        </p>
                        <p>
                            J'ai donc eu plusieurs contrats Intérim dans des entreprises comme Amazon France, un éditeur
                            de
                            magazines
                            professionnels et PC-City.
                        </p>
                        <p>
                            Grâce à mon agence d'intérim, j'ai pu avoir un entretien pour un CDD en service clientèle
                            chez Geodis
                            Calberson et j'y suis resté 2 ans.<br />
                            Mon travail consistait à appeler les entreprises du groupe pour rechercher des colis
                            indiqués comme
                            perdus ou non livrés et de remplir logiciellement le résultat de mes recherches.<br />
                            Aussi, de leur demander de livrer les colis s'ils ne l'ont pas fait afin de respecter les
                            délais de
                            livraison promis par l'entreprise.
                        </p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="texte">
                    <mat-card-header>
                        <mat-card-title>Formation en tant que Technicien de Service en Informatique Niveau IV (BAC Pro)
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Après mes deux ans chez Geodis Calberson, je me suis remis à chercher des formations en
                            informatique.
                        </p>
                        <p>
                            J'ai trouvé une formation en tant que Technicien de Service en Informatique Niveau IV (BAC
                            Pro) au GEFI à Créteil.<br />
                            J'ai donc intégré cette formation de 5 mois en 2009.<br />
                            La formation se composait d'une semaine de cours sur un sujet avec un examen à la fin de la
                            semaine.
                        </p>
                        <p>
                            A la fin de la formation, il y avait une présentation à effectuer devant des professionnels
                            sur un sujet voulu concernant l'informatique.<br />
                            J'ai pu avoir mon diplôme avec une mention assez bien.
                        </p>
                        <p>
                            Malheureusement, malgré plusieurs entretiens, les entreprises demandaient généralement
                            d'avoir le permis de conduire et d'autres ne m'interessaient pas du tout.<br />
                            J'ai donc décidé de continuer à chercher un emploi dans l'informatique mais j'ai du
                            déménager dans le nord de la France.
                        </p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="texte">
                    <mat-card-header>
                        <mat-card-title>Formation à l'UHA 4.0: Licence en developpement Web et Applications</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Après de multiples déménagements, diverses missions intérim et autant de recherche de formation en
                            developpement,
                            j'ai pu trouver une formation par le Pôle-Emploi à l'UHA 4.0 (Université de Haute-Alsace) à Mulhouse où
                            j'habite actuellement.
                            Cette formation pour les demandeurs d'emploi est financée par la région Alsace et le Pôle-Emploi.
                            Elle se compose de 6 mois de cours et 6 mois de stage par année pour les Filières Initiales et de 18
                            mois de cours et 6 mois de stage au total pour les demandeurs d'emploi.
                        </p>
                        <p>
                            Les deux premières années sont rassemblées en une seule année pour les demandeurs d'emploi.
                            La première année se compose d'un fil rouge sur les bases du developpement Web (HTML, CSS, PHP, MySQL,
                            Javascript, JQuery, Ajax, etc...) et de deux projets.
                            La deuxième année se compose d'un fil rouge sur le developpement de la programmation orientée objet
                            (Java, C#, C++, etc...) et de deux projets.
                            La troisème année se compose d'un fil rouge reprennant les deux premières années et l mise en place de
                            MVP, de tests unitaires et fonctionnels et d'un projet.
                        </p>
                        <p>
                            Les projets ont été apporté par des entreprises partenaires de l'UHA 4.0 et ont été réalisés en groupe
                            de 4 à 6 personnes.
                            J'ai pu expérimenter le développement de trois applications mobiles et une application Web avec une
                            partie logiciel en C++.
                        </p>
                        <p>
                            Sur ces projets, j'ai appris à developper sur plusieurs frameworks dont NestJs, Angular, Ionic, React
                            Native, VueJS, ExpressJS et Flutter.
                        </p>
                        <p>
                            J'essaie aussi d'aider les autres étudiants sur divers langages de programmation et de développement.
                        </p>
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
        </mat-card>
    </div>
</div>