<div class="theme">
    <div class="intro">
        <mat-card class="card">
            <mat-card-title-group>
                <mat-card-title>Truche Gaël</mat-card-title>
                <mat-card-subtitle>Full Stack Developer</mat-card-subtitle>
                <img mat-card-lg-image src="assets/img/PhotoProfil3D.png">
            </mat-card-title-group>
            <mat-card-content>
                <mat-card class="texte">
                    <mat-card-content>
                        <p>
                            Actuellement en 3ème année de Licence Professionnelle Développement Web et Application à
                            L'UHA 4.0
                            (Université de Haute-Alsace).
                        </p>
                        <p>
                            Je suis passionné par le développement web, mobile et d'application, je suis à la recherche
                            d'un stage
                            de 6 mois à partir de Janvier 2023.
                        </p>
                        <p>
                            Je recherche aussi à la suite de mon stage un contrat de professionnalisation pour effectuer
                            un Master.
                        </p>
                        <p>
                            Le cas échéant je suis ouvert à toute proposition.
                        </p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="texte">
                    <mat-card-content>
                        <mat-card-title>Compétences</mat-card-title>
                        <mat-card-subtitle>Technologies</mat-card-subtitle>
                        <mat-chip-list>
                            <mat-chip>HTML</mat-chip>
                            <mat-chip>CSS</mat-chip>
                            <mat-chip>JavaScript</mat-chip>
                            <mat-chip>PHP</mat-chip>
                            <mat-chip>SQL</mat-chip>
                            <mat-chip>Java</mat-chip>
                            <mat-chip>C#</mat-chip>
                            <mat-chip>VB.NET</mat-chip>
                        </mat-chip-list>
                        <mat-card-subtitle>Frameworks</mat-card-subtitle>
                        <mat-chip-list>
                            <mat-chip>Angular</mat-chip>
                            <mat-chip>React</mat-chip>
                            <mat-chip>VueJS</mat-chip>
                            <mat-chip>NestJS</mat-chip>
                            <mat-chip>Spring</mat-chip>
                            <mat-chip>NodeJS</mat-chip>
                            <mat-chip>ExpressJS</mat-chip>
                        </mat-chip-list>
                        <mat-card-subtitle>Bases de données</mat-card-subtitle>
                        <mat-chip-list>
                            <mat-chip>MySQL</mat-chip>
                            <mat-chip>MariaDB</mat-chip>
                            <mat-chip>MongoDB</mat-chip>
                            <mat-chip>PostgreSQL</mat-chip>
                        </mat-chip-list>
                        <mat-card-subtitle>Autres</mat-card-subtitle>
                        <mat-chip-list>
                            <mat-chip>Git</mat-chip>
                            <mat-chip>Jira</mat-chip>
                            <mat-chip>Scrum</mat-chip>
                            <mat-chip>Agile</mat-chip>
                            <mat-chip>UML</mat-chip>
                            <mat-chip>Confluence</mat-chip>
                        </mat-chip-list>
                        <mat-card-subtitle>Editeurs et IDE</mat-card-subtitle>
                        <mat-chip-list>
                            <mat-chip>Visual Studio</mat-chip>
                            <mat-chip>Android Studio</mat-chip>
                            <mat-chip>Visual Studio Code</mat-chip>
                            <mat-chip>Eclipse</mat-chip>
                        </mat-chip-list>
                        <mat-card-subtitle>Systèmes d'exploitation</mat-card-subtitle>
                        <mat-chip-list>
                            <mat-chip>Linux</mat-chip>
                            <mat-chip>Windows</mat-chip>
                            <mat-chip>MacOS</mat-chip>
                            <mat-chip>Android</mat-chip>
                            <mat-chip>IOS</mat-chip>
                        </mat-chip-list>
                    </mat-card-content>
                </mat-card>
                <mat-card class="texte">
                    <mat-card-header>
                        <mat-card-title>Liens</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <a href="https://www.linkedin.com/in/gael-truche-7145b545/" target="_blank">
                            <img mat-card-sm-image src="assets/img/linkedin.png" />
                        </a>
                        <a href="https://github.com/overthetop78" target="_blank">
                            <img mat-card-sm-image src="assets/img/github.png" />
                        </a>
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
        </mat-card>
    </div>
</div>