<div class="theme">
    <div class="intro">
        <div class="intro-titre">
            <h1>Truche Gaël</h1>
            <h2>Full Stack Developer</h2>
        </div>
        <div class="avatar">
            <img src="assets/img/PhotoProfil3D.png" alt="PhotoProfil3D" class="photoProfil3D">
        </div>
        <div class="intro-texte">
            <p>
                Actuellement en 3ème année de Licence Professionnelle Développement Web et Application à L'UHA 4.0
                (Université de Haute-Alsace).
            </p>
            <p>
                Je suis passionné par le développement web, mobile et d'application, je suis à la recherche d'un stage
                de 6 mois à partir de Janvier 2023.
            </p>
            <p>
                Je recherche aussi à la suite de mon stage un contrat de professionnalisation pour effectuer un Master.
            </p>
            <p>
                Le cas échéant je suis ouvert à toute proposition.
            </p>
        </div>
        <div class="social">
            <a href="https://www.linkedin.com/in/gael-truche-7145b545/" target="_blank">
                <img src="assets/img/linkedin.png" alt="linkedin">
            </a>
            <a href="https://github.com/overthetop78" target="_blank">
                <img src="assets/img/github.png" alt="github">
            </a>
        </div>
        
    </div>
</div>